.header {
  min-height: 80px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  border-bottom: 4px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-left: 0;

}

@media screen and (max-width: 544px) {
  .header {
    min-height: 85px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0;
  }
}
